$purple-color: #9966cc;
$darkpurple-color: #7365b8;
$lilac-color: #c8a2c8;
$blue-color: #4bb3fd;
$green-color: #26c485;
$lightgreen-color: #e7ffd6;
$dark-color: #45353c;
$pink-color: #881b66;
$pole-color: brown;
$hangman-color: black;
$title-color: rgb(206, 0, 0);
$button-color: mintcream;
$word-color: aquamarine;
$win-color: #99ff99;
